@font-face {
  font-family: Oswald-Light;
  src: url("./assets/fonts/Oswald-Light.ttf");
}
@font-face {
  font-family: Oswald-Regular;
  src: url("./assets/fonts/Oswald-Regular.ttf");
}
@font-face {
  font-family: Lato-Light;
  src: url("./assets/fonts/Lato-Light.ttf");
}
@font-face {
  font-family: Lato-Regular;
  src: url("./assets/fonts/Lato-Regular.ttf");
}

html, body, .App {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #F6FAFD;
}



.loader-container{
  height : 100vh;
  width : 100%;
  display: flex;
  justify-content : center;
  align-items : center;
  background-color: #F6FAFD;
}

.chat-container{
  max-width: 400px;
  margin: 0 auto;
  height: 100%;
}

 